#row-container:after {content: ""; display: table; clear: both;}
#dir-list-div, #file-list-div {float: left; width: 20%; height: 100vh;}

#graph-div {float: left; width: 58%; height: 97vh; padding: 10px; overflow-y: scroll;}

html { font-family: "Courier New", Courier, monospace }
body {margin: 0px; padding: 0px;}
ol, ul { padding: 10px; list-style:none; }
li {padding: 10px; overflow:hidden;}

a {text-decoration: none; color: black; padding-left:30px;}
a:hover { font-weight: bold; }


#dir-list-div { overflow-y: scroll; }
ul.dir-root li ul { display: none; }
ul.dir-root li.open > ul { display: block; }
ul.dir-root li, ul.dir-root li.selected > ul li {	background:url('folder.png') no-repeat 7px 5px;}
ul.dir-root li.selected { background: url('openfolder.png') no-repeat 7px 5px; }
ul.dir-root li.selected > a {font-size: Large; font-weight: bold;}
ul.dir-root li.up { background: url('up.png') no-repeat 7px 5px; }


#file-list-div { overflow-y: scroll; }
ul.file-list li {background: url('plot.png') no-repeat 7px 5px;}
ul.file-list li.selected {background: url('openplot.png') no-repeat 7px 5px;}
ul.file-list li.selected > a {font-size: Large; font-weight: bold;}

div.data-dropdown-div {width: 19%; margin-left: 0px; margin-right: 0.5%; display: inline-block;}

#display-file-path {padding: 5px;}
div.comments td {padding-left: 25px;}