#row-container:after {content: ""; display: table; clear: both;}
#tree-div, #file-list-div {float: left; width: 19%; height: 95vh; padding: 10px;}
#graph-div {float: left; width: 58%; height: 95vh;}

html { font-family: "Courier New", Courier, monospace }
ol, ul { padding: 10px; list-style:none; }
li {padding: 10px; }

a {text-decoration: none; color: black; padding-left:30px;}
a:hover { font-weight: bold; }

/* The directories' tree styles */
#tree-div { }
ul.tree-root li ul { display: none; }
ul.tree-root li.open > ul { display: block; }
ul.tree-root li, ul.tree-root li.selected > ul li {	background:url('folder.png') no-repeat 7px 5px;}
ul.tree-root li.selected { background: url('openfolder.png') no-repeat 7px 5px; }
ul.tree-root li.selected > a {font-size: Large; font-weight: bold;}

#file-list-div { }
ul.file-list li {background: url('plot.png') no-repeat 7px 5px;}
ul.file-list li.selected {background: url('openplot.png') no-repeat 7px 5px;}
ul.file-list li.selected > a {font-size: Large; font-weight: bold;}
